* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Vollkorn', serif;
}

/* ---------Menu bar CSS Start from Here-------  */


.navbar {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 70px;
    background-size: cover;
    position: fixed;
    display: flex;
}

.logo {
    width: 40%;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
}

.logo a {
    text-decoration: none;
    color: rgb(3, 3, 94);
}

#foodcolor {
    color: #fa994c;
}

.menu {
    width: 60%;
    margin-right: 10%;
}

.menu ul{
    display: flex;
    list-style: none;
    
}

.menu ul li {
    padding: 6px 10px;
    font-size: 18px;
    margin: 2%;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(3, 3, 90);
}

#active, .menu ul li:hover {
    background-color: #fa994c;
    border-radius: 10px;
}

/* First bannar CSS start from here  */

#firstbannar {
    width: 100%;
    display: flex;
    
}

.textarea {
    width: 50%;
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 5%;
}

.textarea h1 {
    font-size: 50px;
}

.orderbutton {
    margin-top: 40px;
}

.textarea a {
    color: rgb(39, 3, 87);
    font-size: 20px;
    text-decoration: none;
    border: 1px none;
    border-radius: 10px;
    padding: 15px 25px;
    background: linear-gradient(to right, #FFE000, #CAC531);

}

.textarea p {
    font-size: 20px;
}
.images {
    width: 50%;
    margin-top: 30px;
}

.images img { 
    width: 445px;
    height: 524px;
}

/* --------About me section CSS start from Here---------  */

#aboutme {
    background-image: url(images/bannar2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 150px;
}

.aboutposition {
    width: 100%;
    display: flex;
}

.bannar2 {
    margin-left: 10%;
    width: 40%;
}

.bannar2 img {
    width: 300px;
    height: 476px;
    padding: 50px 50px 0 50px;
}

.abouttext {
    width: 50%;
    margin-top: 150px;
}

.abouttext h1 {
    font-size: 50px;
    color: #707070;
}

.abouttext p {
    font-size: 20px;
    margin-top: 5%;
    text-align: justify;
    margin-right: 20%;
}

.contactme {
    margin-top: 5%;
}
.contactme a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px none;
    border-radius: 10px;
    padding: 15px 25px;
    background: linear-gradient(to right, #f3dd39, #b8b204);
    font-size: 20px;
}


/* My Recipies CSS Start from here  */

#myrecipies {
    width: 100%;
    text-align: center;
    margin-top: 150pX;
}

.textbox h1 {
    font-size: 40px;
    color: #676767;
}

.textbox p {
    margin-top: 20px;
    font-size: 20px;
}

.boxes {
    display: inline-flex;
    padding: 50px;
}

.box1 {
    padding: 20px;
    border: 1px none;
    border-radius: 20px;
    background-color: white;
    width: 250px;
    height: 350px;
    box-shadow: 15px 15px 40px  rgba(0, 0, 0, 0.151);
}

.box1 img {
    width: 220px;
    height: 150px;
    border-radius: 20px;
}

.box2 {
    margin-left: 50px;
    padding: 20px;
    border: 1px none;
    border-radius: 20px;
    background-color: white;
    width: 250px;
    height: 350px;
    box-shadow: 15px 15px 40px  rgba(0, 0, 0, 0.151);
}

.box2 img {
    width: 220px;
    height: 150px;
    border-radius: 20px;
}

.box3 {
    margin-left: 50px;
    padding: 20px;
    border: 1px none;
    border-radius: 20px;
    background-color: white;
    width: 250px;
    height: 350px;
    box-shadow: 15px 15px 40px  rgba(0, 0, 0, 0.151);
}

.box3 img {
    width: 220px;
    height: 150px;
    border-radius: 20px;
}

#boxtexts {
    margin-top: 20px;
    text-align: justify;
}


/* -----------Counter Box CSS Code start---------  */

#counter {
    width: 100%;
}

.boxstyle {
    display: flex;
    border: 1px none;
    border-radius: 20px;
    margin: 7% 10%;
    padding: 50px;
    background-color: white;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.219);
}

.client {
    width: 25%;
    float: left;
    margin-left: 10%;
    text-align: center;
}

.client h1 {
    font-size: 40px;

}

.review {
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

.review h1 {
        font-size: 40px;
}

.order {
    width: 25%;
    float: right;
    margin-right: 10%;
    text-align: center;
}

.order h1 {
    font-size: 40px;

}


/* -------Review section HTML Coder Start----------  */

#reviews {
    width: 100%;
    margin-top: 150px;
}

.textzone h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
}

.customerbox {
    margin: 0 10% 5% 10%;
    display: flex;
}

.cus1, .cus2, .cus3, .cus4 {
    border: 1px none;
    border-radius: 15px;
    width: 300px;
    height: 320px;
    padding: 25px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 255, 0.438);
}

.cus1 .cus2 .cus3 .cus4, img {
    width: 200px;
    height: 140px;
    margin-top: 5%;
    border-radius: 20px;
}

.cus1, .cus2, .cus3, .cus4, p h2 {
    text-align: justify;
}


/* Contact form HTML coding start from here  */

#contactform {
    width: 100%;
    margin-top: 150px;
}

.contactbox {
    margin: 5% 10%;
    display: flex;
}

.left {
    width: 50%;
    padding: 50px;
}

.callus {
    padding-bottom: 30px;
} 

.callus h1 {
    font-size: 30px;
}

.location h1 {
    font-size: 30px;
}

.right {
    width: 50%;
}

label {
    font-size: 20px;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(97, 96, 96);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid rgb(97, 96, 96);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  input[type=submit] {
      padding: 10px 20px;
      color: rgb(0, 0, 0);
      background-color: greenyellow;
      border: none;
      border-radius: 5px;
  }

  input[type=submit]:hover {
      background-color: honeydew;
  }

  footer {
      background-color: #0b0e17;
      background-size: cover;
      height: 150px;
      text-align: center;
  }

  footer h1 {
      color: white;
      padding: 20px;
  }

  footer p {
      color: honeydew;

  }

